.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todo-title {
  color: #007fdb;
  font-size: 96px;
  line-height: 116.18px;
}
.card {
  width: 430px;
  min-height: 636px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
}
.todo-header {
  position: relative;
}
.todo-time {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 30px;
  width: 40%;
  bottom: 0;
  right: 0;
  align-items: center;
}
.todo-picture {
  width: 430px;
  height: 202px;
  border-radius: 10px 10px 0 0;
}

.todo-input-btn {
  display: flex;
  gap: 10px;
  margin-top: 23px;
}
.todo-input {
  width: 275px;
  height: 49px;
  border-radius: 5px;
  background-color: #ebeff2;
  border: none;
}
.todo-btn {
  width: 88px;
  height: 49px;
  padding: 10px;
  background-color: #20eeb0;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
