.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todo-title {
  color: #007fdb;
  font-size: 96px;
  line-height: 116.18px;
  font-family: Inter;
  font-weight: 700;
}
.card {
  width: 430px;
  min-height: 636px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Inter";
}
.todo-header {
  position: relative;
}
.todo-month {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 18px;
  bottom: 82px;
  right: 25px;
  align-items: center;
  font-family: "RussoOne-Regular";
  font-weight: 400;
}
.todo-time {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 48px;
  width: 52%;
  bottom: 0;
  right: 10px;
  align-items: center;
  font-family: "RussoOne-Regular";
}
.todo-picture {
  width: 430px;
  height: 202px;
  border-radius: 10px 10px 0 0;
}

.todo-input-btn {
  display: flex;
  gap: 10px;
  margin-top: 23px;
  font-family: "Inter";
}
.todo-input {
  width: 275px;
  height: 49px;
  border-radius: 5px;
  background-color: #ebeff2;
  border: none;
}
.todo-btn {
  width: 88px;
  height: 49px;
  padding: 10px;
  background-color: #20eeb0;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
