.todo-input-btn {
  display: flex;
  gap: 10px;
}
.todo-input {
  width: 275px;
  height: 49px;
  border-radius: 5px;
  background-color: #ebeff2;
  border: none;
  margin-left: 29px;
  font-size: 18px;
  color: #0d0d0d;
}
.todo-input::placeholder {
  padding: 10px;
  font-size: 16px;
  color: #888888;
}
.todo-input:focus {
  outline: none;
}
.todo-btn {
  width: 88px;
  height: 49px;
  padding: 10px;
  background-color: #20eeb0;
  color: #ffffff;
  border: none;
  font-size: 16px;
  margin-right: 28px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: #20eeb08f;
}
