@font-face {
  font-family: "RussoOne-Regular";
  src: url("./assets/Fonts/RussoOne-Regular.ttf");
}
@font-face {
  font-family: "Inter-VariableFont_slnt,wght";
  src: url("./assets/Fonts/Inter-VariableFont_slnt,wght.ttf");
}
